.carousel-section {
    max-width: 100%;
    margin: 0 auto;
}

.carousel-inner img{
    width: 90%;
    height: 28.125em;
    object-fit: cover;
    margin: 0 auto;
}

.btn-link{
    color: rgb(224, 57, 57) !important;
}

.py-5{
    background-color: #007bff;
    color: #fff;
}

.py-5 p{
    text-align: justify;
}

h2{
    font-weight: bolder;
}

form{
    margin: 2em;
    margin-bottom: 5em;
}

.m-3{
    background-color: #edecec;
    border-radius: 3em;
}

.buttons{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}



.row{
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 30px;
    text-align: center;
}
